*~
.#*
.*.sw?
*#
*.o
*.bin
*.core
*.stackdump
accelerometer_readings/*
hb-examples/*
programs/functional/*
programs/tactical/*
programs/temperature_calibration/*
programs/up_n_down/*
programs/wand/*
programs/README.md
